#sample-metadata {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}
.panel-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


