body {

    color: #f7f7f7;
  }
  .jumbotron {
    background-image: url("../images/rivercafe-nyc-2020.jpeg");
    background-size: 100% 100%;
    text-align: center;
  }
  /*.wrapper{
    height: 200px;
    width: 300px;
  }